.sidebar {
  width: 60px;
  background-color: #052d54;
  display: flex;
  flex: content;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}
.icon-label{
  font-size: 10px;
  margin-top: 5px;
  text-align: center;
  color: inherit;
}

.sidebar-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-bottom: 12.9px;
  color: #ecf0f1;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar-icon:hover {
  background-color: white;
  color: #2980b9;
  border-radius: 8px;
  width: 70px;
  padding: 4px;
}

.sidebar-icon.active {
  background-color: white;
  color: #2980b9;
  border-radius: 8px;
  width: 70px;
  padding: 8px;
}

.sidebar-bottom {
  margin-top: auto;
  margin-bottom: 20px;
  color: #ecf0f1;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}
