.both{
  display: flex;
  margin-top: 8px;
  font-family:Arial, Helvetica, sans-serif;
}
.os{
  font-size: 13px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}
.go{
  font-size: 18px;
  font-weight: bold;
}
.os1{
 font-weight: bold;
 font-size: 13px;
}
.fles{
  display: flex;
}