.counter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;  /* White background */
  padding: 2px 4px 2px 4px;
  border-radius: 5px;  /* Rounded corners */
  border: 1px solid rgb(204, 204, 204);

}

.counter-button {
  background-color: white; 
  border: none; 
  padding: 3px 6px 3px 6px; 
  cursor: pointer; 
  outline: none; 
 
}

.counter-button:focus,
.counter-button:active {
  outline: none;  
  border: none;   
}

.counter-button svg {
  color: black;  /* Make the icon color black */
  font-size: 14px;  /* Increase the icon size */
  border: none;  /* Remove any border around the icon */
  outline: none; /* Remove outline for svg */
}

.counter-value {
  margin: 0 10px;
  font-size: 18px;  /* Font size for the number */
  font-weight: bold;
 
}
