
.payment-container {
  position: absolute;
  top: 1px;
  left: 796px;
  width: 510px;
  height: 310px;
  background-color: #f1f3f6;
  box-shadow: 0px 0px 0px 0px;
  padding: 10px 5px 10px 5px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.payment-header {
  margin-bottom: 20px;
  display: flex;
}

.bold{
top: 20px;  
}

.para1 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.para2 {
  font-size: 13px;
  color: #666;
}
.payment-table {
  width: 90%;
  padding: 4px;
  border-collapse: collapse;
}


.payment-table td {
  padding: 8px;
}

.align-right {
  text-align: right;
}
.payment-table th{
  border:#e3dddd;
  font-size: 20px;
}
@media (max-width: 600px) {
  .payment-container {
    width: 100%;
    padding: 10px;
  }

  .para1 {
    font-size: 18px;
  }

  .para2 {
    font-size: 14px;
  }

  .payment-table th, 
  .payment-table td {
    font-size: 14px;
  }
}
